<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
 <% include partials/head %> 
</head>
<body style="height: 100%;">
<% include partials/menu %>

<div class="container-fluid bg-3"> 
  <h3 class="text-center"><%= page %></h3><br>
  <section class="row textarea-padding" style="height:100%; padding: 5%;">
      <%- content %>
  </section>
</div>
<div class="btn-group" style="align-items: center; display: flex; justify-content: center; margin-bottom: 3%;">
    <form action="/article/delete/<%= id %>", method="POST" style=" margin: 1%; padding-left: 2%; padding-right: 2%;"><button 
      type="submit"
      class="btn btn-danger"
      style="font-size:1em;"
      >Delete</button></form>

    <!-- <form action="/article/update/<%= id %>", method="POST" style=" margin: 1%; padding-left: 2%; padding-right: 2%;"><button 
        type="submit"
        class="btn btn-info"
        style="font-size:1em;"
      >Update</button></form> -->
</div>


</body>
<% include partials/script %>
</html>